<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (!signUpSent) {
    <form #signupForm="ngForm" (ngSubmit)="signupForm.valid && signup(email.value, password.value)"
          [ngFormOptions]="{updateOn: 'submit'}" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-item>
              <ion-input #email="ngModel" [required]="true" [spellcheck]="false" autocapitalize="off"
                         autocomplete="username"
                         email
                         label="Email" labelPlacement="stacked"
                         name="email" ngModel type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            @if (signupForm.submitted && email.invalid) {
              <ion-text color="danger">
                @if (email.errors?.['required']) {
                  <p class="ion-padding-start">
                    Email is required
                  </p>
                }
                @if (email.errors?.['email']) {
                  <p class="ion-padding-start">
                    Not a valid email address
                  </p>
                }
              </ion-text>
            }
            @if (submitError) {
              <ion-text color="danger">
                @if (submitError === 'emailRegistered') {
                  <p class="ion-padding-start">
                    Email already registered
                  </p>
                }
              </ion-text>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-item>
              <ion-input #password="ngModel" [minlength]="8" [required]="true" autocomplete="new-password"
                         label="Password"
                         labelPlacement="stacked"
                         name="password"
                         ngModel type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            @if (signupForm.submitted && password.invalid) {
              <ion-text color="danger">
                @if (password.errors?.['required']) {
                  <p class="ion-padding-start">
                    Password is required
                  </p>
                }
                @if (password.errors?.['minlength']) {
                  <p class="ion-padding-start">
                    Minimum length is 8 characters
                  </p>
                }
              </ion-text>
            }
            @if (submitError) {
              <ion-text color="danger">
                @if (submitError === 'weakPassword') {
                  <p class="ion-padding-start">
                    Weak password
                  </p>
                }
              </ion-text>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-button expand="block" type="submit">Sign up</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  }

  @if (signUpSent) {
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text>
            <p>We successfully received your sign up request.</p>
            <p>Before we activate your account we need to verify your email address.</p>
            <p>We sent you an email with a confirmation link.</p>
            <p><strong>Please check your inbox and click on the link.</strong></p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  }

</ion-content>
