<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu [hidden]="!authenticated()" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          @for (p of appPages(); track p) {
            <ion-menu-toggle [autoHide]="false">
              <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
                @switch (p.icon) {
                  @case ('checkmark-circle-outline') {
                    <ion-icon name="checkmark-circle-outline" slot="start" />
                  }
                  @case ('people') {
                    <ion-icon name="people" slot="start" />
                  }
                  @case ('person') {
                    <ion-icon name="person" slot="start" />
                  }
                  @case ('log-out') {
                    <ion-icon name="log-out" slot="start" />
                  }
                }
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" />
  </ion-split-pane>
</ion-app>
