<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #changeForm="ngForm" (ngSubmit)="changeForm.valid && changePassword(oldPassword.value, newPassword.value)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-grid>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text>
            <p>
              To change your password enter your old and a new password. Changing your
              password invalidates all your login sessions and logs you out.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-input #oldPassword="ngModel" [minlength]="8" [required]="true"
                       autocomplete="current-password"
                       label="Old Password"
                       labelPlacement="stacked" name="oldPassword"
                       ngModel type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          @if (changeForm.submitted && oldPassword.invalid) {
            <ion-text color="danger">
              @if (oldPassword.errors?.['required']) {
                <p class="ion-padding-start">
                  Old Password is required
                </p>
              }
              @if (oldPassword.errors?.['minlength']) {
                <p class="ion-padding-start">
                  Minimum length is 8 characters
                </p>
              }
            </ion-text>
          }
          @if (submitError) {
            <ion-text color="danger">
              @if (submitError === 'passwordInvalid') {
                <p class="ion-padding-start">
                  Password is invalid
                </p>
              }
            </ion-text>
          }
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-input #newPassword="ngModel" [minlength]="8" [required]="true"
                       autocomplete="new-password"
                       label="New Password"
                       labelPlacement="stacked" name="newPassword"
                       ngModel type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          @if (changeForm.submitted && newPassword.invalid) {
            <ion-text color="danger">
              @if (newPassword.errors?.['required']) {
                <p class="ion-padding-start">
                  New Password is required
                </p>
              }
              @if (newPassword.errors?.['minlength']) {
                <p class="ion-padding-start">
                  Minimum length is 8 characters
                </p>
              }
            </ion-text>
          }
          @if (submitError) {
            <ion-text color="danger">
              @if (submitError === 'weakPassword') {
                <p class="ion-padding-start">
                  Weak password
                </p>
              }
            </ion-text>
          }
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button expand="block" type="submit">Change Password</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>
