<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-refresher (ionRefresh)="refresh($event)" [pullFactor]="0.6" slot="fixed">
    <ion-refresher-content />
  </ion-refresher>

  <ion-searchbar (ionChange)="onSearch($event)" />
  <ion-item class="ion-margin-bottom">
    <ion-select (ionChange)="onFilterChange($event)" cancelText="Cancel" label="Filter" labelPlacement="stacked"
                okText="Okay"
                value="all">
      <ion-select-option value="all">All Users</ion-select-option>
      <ion-select-option value="disabled">Disabled Users</ion-select-option>
      <ion-select-option value="enabled">Enabled Users</ion-select-option>
      <ion-select-option value="inactive">Inactive Users</ion-select-option>
      <ion-select-option value="admin">Admin Users</ion-select-option>
    </ion-select>
  </ion-item>

  @if (users$ | async; as users) {
    @for (user of users; track user) {
      <ion-list>
        <ion-item-sliding #slidingItem>
          <ion-item>
            <ion-label>
              {{ user.email }} @if (user.admin) {
              <span>(ADMIN)</span>
            }
              <p>
                @if (user.lastAccess) {
                  <ion-note>Last Activity: {{ user.lastAccess * 1000 | date:'medium' }}</ion-note>
                }
              </p>
            </ion-label>
          </ion-item>
          @if (!user.admin) {
            <ion-item-options side="end">
              @if (user.expired) {
                <ion-item-option (click)="activate(user, slidingItem)">Activate</ion-item-option>
              }
              @if (user.enabled) {
                <ion-item-option (click)="disable(user, slidingItem)">Disable</ion-item-option>
              }
              @if (!user.enabled) {
                <ion-item-option (click)="enable(user, slidingItem)">Enable</ion-item-option>
              }
              @if (!user.enabled) {
                <ion-item-option (click)="delete(user, slidingItem)">Delete</ion-item-option>
              }
            </ion-item-options>
          }
        </ion-item-sliding>
      </ion-list>
    }
    @if (users.length === 0) {
      <div class="ion-text-center">
        <i>No Users</i>
      </div>
    }
  }

</ion-content>
